
@model Adopt1Dev.ASP.Models.Form.UserForm
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "AddPicture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddSkills</h1>

<h4>UserForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSkills">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="container">
                <h3>Vos compétences</h3>
                @foreach (SkillModel item in Model.LesSkills)
                {
                    @:<div class="col-sm-5">
                        @:<input type="checkbox" name="ChoixSkill" value="@item.Id" /> @item.Name
                    @:</div>
                }
            </div>

            <div class="form-group">
                <input type="submit" value="AddPicture" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

