@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bienvenue sur votre page membre</h1>
<br />
<p class="create">
    <a asp-action="AddPicture" asp-controller="Home" asp-area="Member"> Ajouter une image de profil</a>
</p>


<p class="create">
    <a asp-action="AddSkills" asp-controller="Home" asp-area="Member"> Ajouter des compétences</a>
</p>


<partial name="_vosSkills" />